div.details
    div.details-content
        div#ceremony-info
            p.details-title 仪式详情
                .details-left
                    p.left.details-h2 位置
                        p.left 婚礼在介休市张兰镇史村举办.届时邀请大家来见证我们美好幸福的时刻，期待你们的到来哟!
                        a(
                            href='http://j.map.baidu.com/pbSZ0' 
                            target='blank'
                        )查看地图
                .details-right
                    p.left.details-h2 注意事项
                        p.left 由于路不好找,请大家留出足够的时间在交通上,可以提前到我家,一定款待各位.


    div.details-content
        div#entourage
            p.details-title 嘉宾(稍后补充)
                .details-left
                    p.details-details 男方 (师超鹏)
                    ul
                        li 师超鹏 | 师超鹏

                .details-right
                    p.details-details 女方 (姚琳)
                    ul
                        li 姚琳 | 姚琳