div.details
    div.details-content
        div#ceremony-info
            p.details-title 仪式详情
                .details-left
                    p.left.details-h2 位置
                        p.left 婚礼在介休市张兰镇史村举办.
                        a(
                            href='http://j.map.baidu.com/pbSZ0' 
                            target='blank'
                        )查看地图
                .details-right
                    p.left.details-h2 注意事项
                        p.left 由于路不好找,请大家留出足够的时间在交通上,特别困难可以提前到我家,一定款待各位.


    div.details-content
        div#entourage
            p.details-title ENTOURAGE
                .details-left
                    p.details-details Bridesmaids
                    ul
                        li Sophie Oscar | Maid of Honor
                        li Jessica Smith | Bridesmaid
                        li Maddie DeVries | Bridesmaid
                        li Samantha Harrison | Bridesmaid
                        li Samantha Sanders | Bridesmaid
                        li Julia Pyke | Bridesmaid

                .details-right
                    p.details-details Groomsmen
                    ul
                        li Jeffrey Pyke | Best Man
                        li Robbie Waddell | Groomsman
                        li Kyle Karpack | Groomsman
                        li Jason Edds | Groomsman
                        li Hunter Oscar | Groomsman
                        li Jason Pyke | Groomsman