div.registry
    div.text-container
        a.registry-link(href="https://www.alipay.com/", target="_blank")
            img(src="images/registry/alipay.png")
        a.registry-link(href="#", target="_blank")
            img(src="images/registry/wx.png")
        a.registry-link(href="#", target="_blank")
            img(src="images/registry/mp_wx.png")    
